

<form action="/favourite" method="POST">
  <input type="hidden" name="id" value="<%= home._id %>">
  <button class="bg-green-300 p-2 hover:bg-green-500" type="submit">Add to Favourite</button>
</form>
